# Dependencies
node_modules/

# Production build
dist/

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

#Email Service
VITE_EMAILJS_SERVICE_ID=service_rvu9bmh
VITE_EMAILJS_TEMPLATE_ID=__ejs-test-mail-service__
VITE_EMAILJS_PUBLIC_KEY=uT0R16e3IBJuLe7_l